
body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
}

.header_wrapper {
background: #E7F1FF;
border-bottom: 1px solid #E9E9E9;
}

.footer_wrapper {
background-color: #D5F0FC;
font-size: 11px;
padding: 5px;
color: #474747;
border-top: 1px solid #D6D6D6;
}

.content_wrapper {
    padding: 20px;
}

.clear{
    clear: both;
}

.books_wrapper {
    padding-left: 8px;
    border-bottom: 1px dotted #E2E2E2;
    margin-bottom: 25px;
}

.book {
    float: left;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 15px;
    /* height: 373px; */
    width: 200px;
}


.book_name {
    font-size: 12px
;
    padding: 10px;
    font-weight: bold;
    color: rgb(99, 124, 221);
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    border-top: 1px dotted #ccc;
    margin-top: 5px;
    padding-top: 5px;
}

.book_data {
    /* width: 200px; */
    font-size: 12px;
    color: #684848;
    padding: 10px;
    padding-top: 5px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.image_tbl{
    width: 190px;
    height: 150px;
    border: 1px solid #F3F3F3;
    margin-left: 5px;
    margin-top: 5px;
}

.book_img_wrapper img {
    max-height: 180px;
    max-width: 180px;
}

.book_price {
    font-weight: bold;
    font-size: 14px;
    color: #21A021;
    display: inline-block;
    padding-left: 10px;
    float: left;
    margin-bottom: 10px;
    margin-top: 3px;
}
.book_links {
    font-size: 12px;
    font-weight: bold;
    float: right;
    padding-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 3px;
}

.book_categorie_name h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #3670AF;
}

.title_box h1 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.title_box {
    padding: 20px;
    float: left;
}

.session_box {
    float: right;
}

.cart_img{
    height: 15px;
    width: 15px;
}