
body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
}

.header_wrapper {
background: #E7F1FF;
border-bottom: 1px solid #E9E9E9;
}

.footer_wrapper {
background-color: #D5F0FC;
font-size: 11px;
padding: 5px;
color: #474747;
border-top: 1px solid #D6D6D6;
}

.content_wrapper {
    padding: 20px;
}

.clear{
    clear: both;
}

.books_wrapper {
    padding-left: 8px;
    border-bottom: 1px dotted #E2E2E2;
    margin-bottom: 25px;
}

.book {
    float: left;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 15px;
    /* height: 373px; */
    width: 200px;
}


.book_name {
    font-size: 12px
;
    padding: 10px;
    font-weight: bold;
    color: rgb(99, 124, 221);
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    border-top: 1px dotted #ccc;
    margin-top: 5px;
    padding-top: 5px;
}

.book_data {
    /* width: 200px; */
    font-size: 12px;
    color: #684848;
    padding: 10px;
    padding-top: 5px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.image_tbl{
    width: 190px;
    height: 150px;
    border: 1px solid #F3F3F3;
    margin-left: 5px;
    margin-top: 5px;
}

.book_img_wrapper img {
    max-width: 180px;
    max-height: 200px;
}

.book_price {
    font-weight: bold;
    font-size: 14px;
    color: #21A021;
    display: inline-block;
    padding-left: 10px;
    float: left;
    margin-bottom: 10px;
    margin-top: 3px;
}
.book_links {
    font-size: 12px;
    font-weight: bold;
    float: right;
    padding-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 3px;
}

.book_categorie_name h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #3670AF;
    float: left;
}

.title_box h1 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.title_box {
    padding: 20px;
    float: left;
}

.session_box {
    float: right;
}

.cart_img{
    height: 15px;
    width: 15px;
}

.search_box {
    padding: 10px;
    font-size: 14px;
}

.book_cat_all{
    text-align: right;
    float: right;
    padding-top: 17px;
    padding-right: 15px;
}

.book_cat_all a {
    font-size: 12px;
    font-weight: bold;
    color: #425AB8;
}

.cart_table{
    width: 100%;
    border-collapse: collapse;
}

.cart_table tr th, .cart_table tr td {
    border: 1px solid #ccc;
    font-size: 12px;
}

.cart_table tr td img {
    max-width: 60px;
    height: auto;
}

.total_row td {
    font-weight: bold;
    padding: 5px;
}

.page_title{
    font-size: 16px;
    color: #688CD6;
}


.check_out_btn{
    margin-top: 10px;
border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}

.check_out_btn:hover{
 border:1px solid #1090c3;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}

.place_order_forms {
    font-size: 12px;
}

.place_order_forms fieldset {
    border-color: #FFFFFF;
}

.place_order_forms input[type="text"], 
.place_order_forms input[type="password"], 
.place_order_forms textarea {
    border: 1px solid #ccc;
    padding: 3px;
    font-size: 12px;
    width: 200px;
}

.place_order_forms label{
    margin-top: 3px;
    display: block;
}




.place_order_forms input[type="submit"] {
    margin-top: 10px;
    border:1px solid #15aeec; -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif; 
    padding: 4px 8px 4px 7px;
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; color: #FFFFFF;
    background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
    background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);

}

.error_message{
    background: #FFEAEA;
    border: 1px solid #F17A97;
    color: rgb(241, 124, 124);
    padding: 7px;
    margin-bottom: 10px;
    font-size: 12px
}

.nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav li {
    float: left;
}
.nav {
    background: #FCFEFF;
}

.nav a{

    display: block;
    padding: 5px;
    font-size: 12px;
    color: #2575BE;
    border: 1px solid #63BDE0;
    margin-right: -1px;
}

.order_table .orderNumber {
    width: 50px;
}
.order_table .itemQuantity{
    width: 350px;
}
.order_table .customer{
    width: 200px;
}
.order_table .orderValue {
    width: 65px;
}
.order_table .orderStatus {
    width: 140px;
}

.addInventoryBtn {
    margin-top: 10px;
    border:1px solid #15aeec; -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif; 
    padding: 4px 8px 4px 7px;
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; color: #FFFFFF;
    background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
    background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);

}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.success_message{
    padding: 7px;
    background-color: #C9FCD1;
    margin-bottom: 15px;
    color: #17502E;
    border: 1px solid #ccc;
}
.error_message p{
    padding: 0px;
    margin: 0px;
}

.instock{
    color: #3BB640;
    font-weight: normal;
    display: inline-block;
    padding-right: 5px;
}

.outOfstock{
    color: #CA0D3A;
    font-weight: bold;
    display: inline-block;
    padding-right: 5px;
}

.redFont{
    color: red;
}

input[type="text"], input[type="password"], textarea{
    width: 250px;
    border: 1px dotted #999;
}

label {

    margin-top: 10px;
    display: inline-block;
}

input[type="submit"]{
    margin-top: 10px;
}

.cart_count {
    width: 20px !important;
}

.float_right {
    float: right;
}

.Address_1 {
    float: left;
    margin-bottom: 15px;
    font-size: 13px;
}

.Address_2 {
    float: left;
    padding-left: 200px;
    margin-bottom: 15px;
    font-size: 13px;
}
.innerTable tr td {
    border: 0px;

}